* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(0, 0, 18);
    background-image: url("./images/background.png");
    background-repeat: repeat-y;
    display: flex;
    justify-content: center;
    width: 100vw;
    overflow-y: auto;
}


/*  -------- HEADER --------- */

header {
    display: flex;
    gap: 5%;
    align-items: center;
    width: 70%;
}

.logo {
    width: 100px;
}

h1 {
    color: white;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    font-family: fantasy;
}